@font-face {
    font-family: 'Avenir Next LT Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Regular'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next LT Pro Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Demi'), url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next LT Pro Demi Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Demi Italic'), url('../fonts/AvenirNextLTPro-DemiIt.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next LT Pro Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next LT Pro Italic'), url('../fonts/AvenirNextLTPro-It.woff') format('woff');
}

b{
    font-family: 'Avenir Next LT Pro Demi';
}

i{
    font-family: 'Avenir Next LT Pro Demi Italic';
}

body {
    color: black;
    font-family: 'Avenir Next LT Pro Regular';
    line-height: 1.3;
}

.navblock{
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content:space-between;
    display: flex;
    align-items: center;
}

.navblock ul{
    display: flex;
}

.navblock li{
    margin-left: 20px;
}

.fixed_nav {
    position: fixed;
    top: 0;
    background-color: #FFF;
    width: calc(100% - 60px);
    padding-bottom: 10px;
}

.fixed_menu {
    position: fixed;
    top: 96px;
    padding-bottom: 10px;
    width: 100%;
}

.menu_toggle_hide {
    display: none;
}

.mobile_nav_spacing{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.nav_elements_style{
    font-size:14px;
    padding-right:5px;
}

.personal_logo{
    width: 181px;
    height: 61px;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
     color:#F88585;
     text-decoration:none;
     cursor:pointer;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 24px;
}

.section_header {
    background-color: #DD6666;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}

button {
    color: #FFFFFF;
    background-color: #7400D2;
    border-radius: 3rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    height: 43px;
    font-size: 16px;
}

.container{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

#footer_style{
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
}

.mobile_footer_block{
    display: flex;
    background-color:#F3F3F3;
    padding:20px;
    align-items: center;
    flex-wrap: wrap;
}

.mobile_footer_block #margin_right_20{
    margin-right:20px;
}

.mobile_footer_elements #margin_right_10{
    margin-right: 10px;
}

#margin_right_10 img{
    width:35.3px;
    height:35.3px;
}

@media (max-width: 768px) {

    .mobile_nav{
        float: right;
    }

    .mobile_nav_flex{
        display: flex;
        justify-content: space-evenly;
        background-color:#D8D8D8;
    }

    .menu_toggle_show {
        display: block;
    }

    .navblock ul{
        display: none;
    }

    .mobile_nav_padding {
        padding-bottom: 0px;
    }

    .mobile_footer_elements{
        width: 100%;
        margin-bottom: 10px;
    }

    .order_3{
        order: 3;
    }

    .mobile_footer_block{
        text-align: center;
    }

}

@media (min-width: 769px) {

    .mobile_nav{
        display:none;
    }

    .mobile_footer_spacer{
        flex: 1;
    }

}
