.nav_ul{
    list-style-type: none;
    margin: 0;
    padding-top: 1%;
    overflow: hidden;
    width: 40%;
    float: right;
}


.footer{
    background-color: #F3F3F3;
    width: 100%;
    height: 110px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.spacer{
    flex:1;
}

.socialbutton{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.textblock{
    width: 100%;
    float: left;
    height: 110px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.navblock{
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content:space-between;
    display: flex;
    align-items: center;
}

.navblock ul{
    display: flex;
}

.navblock li{
    margin-left: 20px;
}

.image{
    width: 181px;
    height: 61px;
}

.final_brand_image{
    height: 698px;
    background-image: url(images/brand_image.png);
    background-size:cover;
    background-repeat:no-repeat;
}
